<div class="javascript-form">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Start a battle</h1>
    </div>
    <div class="row col-md-offset-2">
      <h4 class="short-text">Rules of the game: <br> Give each player a name and a weapon, then let them fight!</h4>
    </div>
    <%= render 'form' %>
  </div>
</div>
