<div class="javascript-form">
  <h1 class="text-center">Start a battle</h1>
  <h4 class="short-text">Rules of the game: Give each player a name and a weapon, then let them fight!</h4>
  <%= render 'form' %>
</div>
