<!DOCTYPE html>
<html>
  <head>
    <title>CaptainChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper blue-grey darken-1">
          <a href="#" class="brand-logo center">FIGHT GAME</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">About</a></li>
            <li><a href="badges.html">Contact</a></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
